extends layout

block content
  h1 This Week's Trending Event
  p Surrender to your FOMO
  hr
  .row
    .col-sm-6
      h2 Scavenger Hunt on 4/16
      p  MSOE architectural appreciation club invites you to participate in our scavenger hunt! Don't have plans for easter?
        Come join us on a walk around milwaukee to observe and appreciate the historical buildings and sculptures downtown. 
        To RSVP, email us at msoeaac@msoe.edu
      p
        a.btn.btn-default(href='api', role='button') View it on the Map »
  
    