extends layout

block content
  h1 Map MKE
  p.lead Don't miss out.
  hr
  .row
    .col-sm-6
      h2 Post an Event
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Find an Event
      p 
      p
        a.btn.btn-default(href='#', role='button') View details »
    